## Lab Assignment 2: Part 2 Pandas and NumPy
#### Margaret Chingos | 220000060
#### Github link: https://github.com/margaretchingos/Assignment-2/tree/main?tab=readme-ov-file#assignment-2

#### Run this cell to connect to your GIS and get started:

In [1]:
from arcgis.gis import GIS
gis = GIS("home")

#### Importing libraries and Data

In [40]:
#Import libraries 
import numpy as np
import pandas as pd

In [21]:
#Import data with pandas
df = pd.read_csv('/arcgis/home/Assignment 2/portland_park_trees.csv')
#preview first 5 rows of data
df.head()

,fid,OBJECTID,Inventory_,Species,DBH,Condition,TreeHeight,CrownWidth,CrownWid_1,CollectedB,...,Genus,Common_nam,Genus_spec,Functional,Size,Native,Edible,Nuisance,Origin,Species_fa
0,1,426,2017/05/09,PSME,37.4,Fair,105.0,44.0,57.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
1,2,427,2017/05/09,PSME,32.5,Fair,94.0,49.0,45.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
2,3,428,2017/05/09,CRLA,9.7,Fair,23.0,28.0,27.0,staff,...,Crataegus,Lavalle hawthorn,Crataegus x lavalleei,BD,S,No,NaN,NaN,North America - a hybrid between a Mexican and...,"Like most hawthorns, the tree has stout thorns..."
3,4,429,2017/05/09,QURU,10.3,Poor,28.0,38.0,31.0,staff,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...
4,5,430,2017/05/09,PSME,33.2,Fair,102.0,43.0,44.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...

#### Question 1: How many trees are of the Quercus or Acer genus?

In [25]:
#Query the dataframe for trees of either Quercus or Acer genus
Quercus_Acer = df.query('Genus=="Quercus"' or 'Genus =="Acer"') 
#print the length (number of trees with specified genus)
print(len(Quercus_Acer))

3586

In [26]:
#check the number of trees in the dataset to see if my query was reasonable
df.shape

(25534, 40)

#### Question 2:  How many trees are of the Quercus or Acer genus and have a DBH larger than 50 inches?

In [28]:
#query pre-defined dataframe with just Quercus and Acer trees for trees with a DBH greater than 50
x = Quercus_Acer.query('DBH>50')
#Print the length (number) of specified trees
print(len(x))

44

#### Question 3: Which genus has the highest mean DBH of the following genera: Quercus, Acer, or Fraxinus?

In [34]:
quercus = df.query('Genus == "Quercus"') #query the dataframe to create a subset of trees with the genus Quercus
quercus_mean = quercus["DBH"].mean() #find the mean of the DBH for trees with the genus quercus, specified in previous line of code
print(quercus_mean) 

acer = df.query('Genus == "Acer"') #repeat with genus Acer
acer_mean = acer["DBH"].mean()
print(acer_mean)

fraxinus = df.query('Genus == "Fraxinus"') #repeat with genus Fraxinus
fraxinus_mean = fraxinus["DBH"].mean()
print(fraxinus_mean)

print("Quercus has the highest mean DBH!")

23.56823839157492
18.419085331846066
11.033609693877551
Quercus has the highest mean DBH!

#### Question 4:  How many different species of trees are recorded in the Acer genus?

In [47]:
acer = df.query('Genus == "Acer"') #query the dataframe to create a subset of trees with the genus Acer
acer_species = acer['Species'] #create a second subset to look at just species within the genus Acer

x = acer_species.unique() #identify how many unique (different) species types there are in the Acer genus
print(len(x)) #print the length(number) of unique species

20

#### Question 5:  Using world_cities.csv answer the following questions:

In [75]:
#Import the data with pandas
cities = pd.read_csv('/arcgis/home/Assignment 2/world_cities.csv', index_col=0) #set column 0 to be the index
#preview first 5 rows of data
cities.head()

                      country    pop    lat    lon  capital
city
'Abasan al-Jadidah  Palestine   5629  31.31  34.34        0
'Abasan al-Kabirah  Palestine  18999  31.32  34.35        0
'Abdul Hakim         Pakistan  47788  30.55  72.11        0
'Abdullah-as-Salam     Kuwait  21817  29.36  47.98        0
'Abud               Palestine   2456  32.03  35.07        0

##### • Calculate a new column named "pop_M" (population in millions), by transforming the "pop" (population) column.

In [76]:
cities['pop_M'] = cities["pop"] / 1000000 #create a new column called pop_M that divides pop by 1 million
cities.head() #check to see if column was added

                      country    pop    lat    lon  capital     pop_M
city
'Abasan al-Jadidah  Palestine   5629  31.31  34.34        0  0.005629
'Abasan al-Kabirah  Palestine  18999  31.32  34.35        0  0.018999
'Abdul Hakim         Pakistan  47788  30.55  72.11        0  0.047788
'Abdullah-as-Salam     Kuwait  21817  29.36  47.98        0  0.021817
'Abud               Palestine   2456  32.03  35.07        0  0.002456

##### • Remove the original "pop" column.

In [77]:
cities.pop('pop')
cities.head() #check to make sure the pop column is no longer in cities

                      country    lat    lon  capital     pop_M
city
'Abasan al-Jadidah  Palestine  31.31  34.34        0  0.005629
'Abasan al-Kabirah  Palestine  31.32  34.35        0  0.018999
'Abdul Hakim         Pakistan  30.55  72.11        0  0.047788
'Abdullah-as-Salam     Kuwait  29.36  47.98        0  0.021817
'Abud               Palestine  32.03  35.07        0  0.002456

##### • Choose/subset a city that starts with the same letter as your first name (for example, "Mexico City" if your first name is Michael).

In [78]:
Mjolby = cities.query('city == "Mjolby"') #subset Mjolby from rest of cities, defined as Mjolby
print(Mjolby)

       country    lat    lon  capital     pop_M
city
Mjolby  Sweden  58.33  15.13        0  0.011504

##### • Subset the five biggest (i.e., largest population sizes) cities from the country where your selected city is.

In [84]:
Sweden = cities.query('country == "Sweden"') #subset Swedish cities, defined as Sweden
Sweden_sorted_pop = Sweden.sort_values('pop_M', ascending=False) #sort the subset by value of their population

print('the five largest cities in Sweden are:')
Sweden_sorted_pop.head()

the five largest cities in Sweden are:

          country    lat    lon  capital     pop_M
city
Stockholm  Sweden  59.33  18.07        1  1.260712
Goteborg   Sweden  57.72  12.01        0  0.518990
Malmo      Sweden  55.61  13.02        0  0.264175
Uppsala    Sweden  59.86  17.64        0  0.128374
Vasteras   Sweden  59.62  16.54        0  0.108127